<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
    </head>
    <title>HTML 5 BoilerPlate</title>
    <body>
        <form action="/create_user" method="POST" enctype="application/x-www-form-urlencoded">
            {{ csrfField }}
           <input type="text" name="test-input" value="booger" > 
            <button type="submit">Submit Button</button>
        </form>
        Change here? 
    </body>
</html>

